html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* Z INDEXS */
#header, .navbar-collapse.collapse.show{
  z-index: 9999;
}
#react-navbar{
  z-index: 9998;
}
#react-cartridge-shelf{
  z-index: 9997;
}
/* ID SELECTORS */
#App{
  position: relative;
  width: 100%;
}
#root{
  height: 100%;
}

#content{
  height: 90%;
  background-color: #233d54;
}
#virtual-console{
  display: flex;
  justify-content: space-around;
}
#virtual-console-loader{
  position: relative;
  width: 15%;
  height: 350px;
  margin: 20px 0px;
  /* background-image: url('./images/virtual-console/console.png');
  background-repeat: no-repeat;
  background-size: 90% 100%; */
}
#console-img{
  position:absolute;
  width: 100%;
  height: auto;
}
#virtual-console-screen{
  display: inline-block;
  width: 75%;
  margin-top: 20px;
  min-height: 500px;
  border: 10px solid #444444;
  background-color: #FFFFFF;
}
/* CLASS SELECTORS */
.mobile-only{
  display: none;
}
.navbar-nav a{
  font-size: 1.2em;
  margin: 2px 20px;
}
.App{
  height: 100%;
}
.app-cartridge{
  padding: 5px 0px;
  height: 90px;
  color: #444444;
}
.app-cartridge.loaded{
  position: relative;
  margin: auto;
  margin-top: 12%;
  width: 60%;
}
.app-cartridge.loaded .cartridge-bottom{
  display: none;
}
.cartridge-top{
  position: relative;
  width: 100%;
}
.cartridge-art{
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
}
.cartridge-bottom{
  position: relative;
  width: 100%;
  top:-3px;
}
.cartridge-grab{
  cursor: -webkit-grab;
  cursor: grab;
}
.cartridge-grabbing{
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 9999;
  position: absolute;
}
.cartridge-grabbing img{
  width: 200px;
  height: auto;
}
.cartridge-grabbing .app-cartridge.loaded .cartridge-bottom{
  display: initial;
}
.cartridge-input{
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0px auto;
  text-align: center;
}
.show-content {
  display: initial;
}

@media only screen and (max-width: 480px){
  body{
    overflow-x:hidden;
    max-width: 100%;
  }
  #react-main-logo{
    font-size: 3em;
  }
  #home-link{
   font-size: 2em;
  }
  #navbar-toggler{
    display: inline-block;
  }
  #content{
    height: 90%;
    background-color: #233d54;
  }
  #virtual-console{

  }
  #react-cartridge-shelf ul{
    display: inline-block;
    width: 90%;
  }
  #react-cartridge-shelf ul li{
    display: inline-block;
    float: left;
  }
  #virtual-console-loader{
    position: relative;
    width: 65%;
    height: 400px;
    margin: 20px auto;
  }
  #console-img{
    position:absolute;
    width: 100%;
    height: auto;

  }
  #virtual-console-screen{
    display: none;
    width: 75%;
    margin-top: 20px;
    min-height: 500px;
    border: 10px solid #444444;
    background-color: #FFFFFF;
  }

  .mobile-only{
    display: initial;
  }
  .navbar-collapse{
    padding: 10px;
    text-align: right;
    background-color: #FFFFFF;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) {

}
